.welcome-image {
  width: 100%;
}

.center-text {
  text-align: center;
}

.list-group-item {
  border: solid black 1px;
  list-style: none;
}

.list-group-item:hover {
  background-color: rgb(235,235,235);
}

.profile-image {
  width: 80%;
}

.ping {
  background-color: rgb(100,100,255);
  color: white
}

.remove-attendant {
  background-color: rgb(235, 100, 100);
  color: white;
}

.remove-attendant-button {
  margin-top: 50%;
}

.add-attendant {
  background-color: rgb(100,205,100);
  color: white;
}

.has-danger {
  background-color: rgb(255,150,150);
}

.hide {
  display: none;
}

.calendar {
  text-align: center;
}

.cal-spacing {
  margin-left: 1%;

  /*border-left: solid lightgrey 1px;
  border-right: solid lightgrey 1px;*/
}

.cal-item {
  border-bottom: solid lightgrey 1px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  height: 40px;
}

.cal-item p {
  margin-bottom: 0px;
  font-size: .85em;
  text-align: right;
}

.hour-text {
  color: rgb(155,155,155);
  float: left;

}

.chat-input {
  width: 100%;
}

.chat-box {
  border: solid lightgrey 1px;
  height: 400px;
  margin-bottom: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
}
