.welcome-image {
  width: 100%;
}

.center-text {
  text-align: center;
}

.list-group-item {
  border: solid black 1px;
}

.list-group-item:hover {
  background-color: rgb(235,235,235);
}

.profile-image {
  width: 80%;
}

.ping {
  background-color: rgb(255, 100, 100);
  color: white;
}
